.comments
{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-self:center;
}
.Searchbar
{
  display: flex;
  justify-content: center;
  align-self:center;
}
.select
{
  margin-left: 2%;
}

.AI-Button
{
  margin-left: 2%;
  background-color: black;
  color: white;
  border:3px solid rgb(43, 162, 226);
  border-radius: 5px;
  padding:5px;
}